django
gunicorn
whitenoise
psycopg2[binary,pool]
django-widget-tweaks
python-dotenv
openpyxl
djangorestframework
djangorestframework-simplejwt
django-cors-headers
reportlab
openpyxl
channels
channels_redis
daphne
uvicorn